<h1>Welcome to posts page</h1>

<% posts.forEach(function(post){ %>
    <% let postTitle = post.title %>
    <% let postAuthor = post.author %>
    <ul>
        <li>
            <strong><%= postTitle %> </strong> by
            <em><%= postAuthor %></em>
        </li>
    </ul>
<% }) %>
